<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
    ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Styles/index.css">
    <link rel="stylesheet" href="/Styles/login.css">


    <!-- JS Scripts -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs
      /jquery/2.2.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/
      twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
      <script defer src="/js/app.js"></script>

</head>
<body>
    <!-- Background Music -->
    <iframe style="display: none;" width="560" height="315" src="https://youtu.be/p2oTByT6KNc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    
   <header>
    <nav class="navbar"> 
      <ul class="nav-list">
               <li class="nav-item">
               <a href="/sea" class="nav-link">Sea World</a>
                </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                   </li>
                   <li class="nav-item" class="nav-link">
                      <a href="/about" class="nav-link">About</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/animals">Animals</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/animals/new">Create Animal</a>
                   </li>
                   <li class="nav-item">
                   <a class="nav-link" href="/register">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/logout">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                 </li>
  </nav>

   </header>
           <!-- Front Cover -->
           <section id="home" class="heart">
            <div class="title">
              <h1>&hearts; I Heart Animals &hearts;</h1>
              <p id="color">"Create Your Animal"</p>
            </div>
          </section>


    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
    <h2 class="under">Complete Form</h2>
   <br>
    <form class="form-signin" action="/animals" method="POST">
      <label class="change1" id="under" for="name">Animal Name</label>
      <div class="form-label-group">
        <input type="text" id="name" name="name" class="form-control" />
      </div>
    <br>
    <label class="change2" id="under" for="image">Header Image</label>
      <div class="form-label-group">
        <input type="text" id="image" name="image" class="form-control" />
      </div>
  <br>
      <label class="change1" id="under" for="descript">Animal Description</label>
      <div class="form-group">
        <textarea cols="100" rows="5" id="descript" name="descript"></textarea>
      </div>
  <br>
      <label class="change2" id="under" for="Diet">Animal Diet</label>
      <div class="form-group">
        <textarea cols="100" rows="5" id="diet" name="diet"></textarea>
      </div>
  <br>
      <label class="change1" id="under" for="location">Animal Location</label>
      <div class="form-group">
        <textarea cols="100" rows="5" id="location" name="location"></textarea>
      </div>
  <br>
      <label class="change2" id="under" for="video">Animal Video</label>
      <h6>(Youtube videos only, add Id into box, not the entire url example "N4koEPJ0bjU" from "https://www.youtube.com/embed/N4koEPJ0bjU" or "https://www.youtube.com/embed/N4koEPJ0bjU"</h6>
      <div class="form-label-group">
        <input type="text" id="video" name="video" class="video" />
      </div>
  <br>

  <label class="change1" id="under" for="video2">Animal Video 2</label>
  <h6>(Youtube videos only, add Id into box, not the entire url example "N4koEPJ0bjU" from "https://www.youtube.com/embed/N4koEPJ0bjU" or "https://www.youtube.com/embed/N4koEPJ0bjU"</h6>
  <div class="form-label-group">
    <input type="text" id="video2" name="video2" class="video2" />
  </div>
<br>

  <label class="change1" id="under" for="image">Animal Image 1</label>
      <div class="form-label-group">
        <input type="text" id="cardImage1" name="cardImage1" class="form-control" />
      </div>
  <br>

  <label class="change2" id="under" for="image">Animal Image 2</label>
      <div class="form-label-group">
        <input type="text" id="cardImage2" name="cardImage2" class="form-control" />
      </div>
  <br>

     <label class="change1" id="under" for="image">Animal Image 3</label>
      <div class="form-label-group">
        <input type="text" id="cardImage3" name="cardImage3" class="form-control" />
      </div>

      <button class="btn btn-primary float-right" type="submit">Add Animal</button>
    </form>

  </div>
</div>
</div>
</div>
</div>



    <footer class="footer"> 
        <div class="container"> 
            <span>&copy2020 I-Heart-Animals General Assembly</span> 
        </div> 
    </footer> 
</body>
</html>