<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
    ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/Styles/house.css">
</head>
<body>
   <header>
    <nav class="navbar"> 
     <ul class="nav-list">
              <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
               </li>

               <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
               </li>
               
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Signup</a>
                </li>

                <li class="nav-item" class="nav-link">
                    <a href="/about" class="nav-link">About</a>
                </li>
    </nav>
   </header>
    <!-- Title of Page  -->
        <!-- HERO -->
        <section id="home" class="hero">
            <div class="title">
              <h1>I Heart Animals</h1>
              <p id="color">"Animals We Love"</p>
            </div>
          </section>

           <!-- Animals We Love GALLERY -->
    <section id="Skills" class="container">
        <h2 class="under"></h2>
        <br>
        <div class="skills-gallery">
          <img src="https://images.unsplash.com/photo-1502083896352-259ab9e342d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1563668454792-e847345de386?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1500301184366-fddd28327bfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1452857297128-d9c29adba80b?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1547836203-773eca4158ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">

        </div>
    </section>

    <footer class="footer"> 
        <div class="container"> 
            <span>&copy2020 I-Heart-Animals General Assembly</span> 
        </div> 
    </footer> 
</body>
</html>