<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
    ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/Styles/index.css">

              <!-- JS Scripts -->
              <script src='https://cdnjs.cloudflare.com/ajax/libs
              /jquery/2.2.1/jquery.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/
             twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
             <script defer src="/js/app.js"></script>

</head>
<body>
    <!-- Background Music -->
    
   <header>
    <nav class="navbar"> 
        <ul class="nav-list">
                 <li class="nav-item">
                 <a href="/sea" class="nav-link">Sea World</a>
                  </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/">Home</a>
                     </li>
                     <li class="nav-item" class="nav-link">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/animals">Animals</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/animals/new">Create Animal</a>
                     </li>
                     <li class="nav-item">
                     <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                     </li>
    </nav>

   </header>
    <!-- Title of Page  -->
        <!-- Front Cover -->
        <section id="home" class="heart">
            <div class="title">
              <h1>&hearts; I Heart Animals &hearts;</h1>
              <p id="color">"Animals We Love"</p>
            </div>
          </section>

           <!-- Animals We Love GALLERY -->
    <section id="Skills" class="container">
        <h2 class="under"></h2>
        <br>
        <div class="skills-gallery">
          <img src="https://images.unsplash.com/photo-1528817607141-85707cede2af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1527161153332-99adcc6f2966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1527073620320-77635188c627?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1440191995729-669fdeb36791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1491244470931-f7d07cdf2f0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1498903891748-110dc39423d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">

        </div>
    </section>

    <footer class="footer"> 
        <div class="container"> 
            <span>&copy2020 I-Heart-Animals General Assembly</span> 
        </div> 
    </footer> 
</body>
</html>