<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
       ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/Styles/index.css">
    <link rel="stylesheet" href="/Styles/login.css">


          <!-- JS Scripts -->
          <script src='https://cdnjs.cloudflare.com/ajax/libs
          /jquery/2.2.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/
         twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
</head>
<body>
    <header>
        <nav class="navbar"> 
         <ul class="nav-list">
                  <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                   </li>
    
                   <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                   </li>
                   
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Sign Up</a>
                    </li>
    
                    <li class="nav-item" class="nav-link">
                        <a href="/about" class="nav-link">About</a>
                    </li>
        </nav>
       </header>


<!-- Sign in form https://freefrontend.com/bootstrap-login-forms/ -->
       <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h2 class="form-signin-heading">Sign In</h2>
                <form class="form-signin">
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                  </div>
    
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                  </div>
    
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  <p>Don't have an account? <a href="/signup">Signup</a>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
 
        <footer class="footer"> 
            <div class="container"> 
                <span>&copy2020 I-Heart-Animals General Assembly</span> 
            </div> 
        </footer> 
      </body> 
</body>
</html>