<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
    ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/Styles/index.css">
</head>
<body>
    <header>
        <nav class="navbar"> 
         <ul class="nav-list">
                  <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                   </li>
    
                   <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                   </li>
                   
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Signup</a>
                    </li>
    
                    <li class="nav-item" class="nav-link">
                        <a href="/about" class="nav-link">About</a>
                    </li>
        </nav>
       </header>
        <div class="container"> 
          <h1><%= title %></h1> 
          <div class="datails"> 
            <div class="card text-xs-center"> 
                <br> 
              <img class="card-img-top" src="<%= avatar %>" 
                alt="Card image cap"> 
                <div class="card-block"> 
                  <h4 class="card-title">User Details</h4> 
                  <p class="card-text"> 
                      <strong>Name</strong>: <%= user.local.name %><br> 
                      <strong>Email</strong>: <%= user.local.email %> 
                  </p> 
                  <a href="/logout" class="btn btn-default">Logout</a> 
                </div> 
            </div> 
          </div> 
       </div> 

          

    <footer class="footer"> 
        <div class="container"> 
            <span>&copy2020 I-Heart-Animals General Assembly</span> 
        </div> 
    </footer> 
</body>
</html>