<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
    ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/Styles/sea.css">
</head>
<body>
   <header>
    <nav class="navbar"> 
     <ul class="nav-list">
              <li class="nav-item">
              <a href="/pets" class="nav-link">House Pets</a>
               </li>

               <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
               </li>
               
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Sign Up</a>
                </li>

                <li class="nav-item" class="nav-link">
                    <a href="/about" class="nav-link">About</a>
                </li>
    </nav>
   </header>
    <!-- Title of Page  -->
        <!-- HERO -->
        <section id="home" class="hero">
            <div class="title">
              <h1>I Heart Animals</h1>
              <p id="color">"Animals We Love"</p>
            </div>
          </section>

           <!-- Animals We Love GALLERY -->
    <section id="Skills" class="container">
        <h2 class="under"></h2>
        <br>
        <div class="skills-gallery">
          <img src="https://images.unsplash.com/photo-1454991727061-be514eae86f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1554054933-e48c9b4ccf7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1550016728-6e898923de4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1582395880240-8a89060981de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1586115457457-b3753fe50cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">
          <img src="https://images.unsplash.com/photo-1495368008737-9d436e094dd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="HTML">

        </div>
    </section>

    <footer class="footer"> 
        <div class="container"> 
            <span>&copy2020 I-Heart-Animals General Assembly</span> 
        </div> 
    </footer> 
</body>
</html>