<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/
    ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/Styles/index.css">
</head>
<body>
    <header>
        <nav class="navbar"> 
         <ul class="nav-list">
                  <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                   </li>
    
                   <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                   </li>
                   
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Signup</a>
                    </li>
    
                    <li class="nav-item" class="nav-link">
                        <a href="/about" class="nav-link">About</a>
                    </li>
        </nav>
       </header>
    <!-- Title of Page  -->
    <h2 class="form-signin-heading">Please signup</h2>
    <label for="inputName" class="sr-only">Username</label>
    <input type="text" id="name" name="name" class="form-control"
     placeholder="Name" required="">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class=
      "form-control" placeholder="Email address" required="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" name="password" 
      class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" 
      type="submit">Sign in</button> 
     <br> 
     <p>Don't have an account? <a href="/signup">Signup</a>
         ,it's free.</p>
   </form>


   <footer class="footer"> 
    <div class="container"> 
        <span>&copy2020 I-Heart-Animals General Assembly</span> 
    </div> 
</footer> 
</body>
</html>