
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    background-color: #aaffaa;
    min-height: 100vh;
    font-size: 15px;
}


.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  
  .nav-item {
    font-size: 1.3em;
    padding: 20px;
    color: #fff;
    
  }
  
  .nav-link {
    color: rgb(60, 172, 60);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: rgb(15, 58, 13);
    padding-bottom: 16px;
    border-bottom: 4px solid rgb(115, 253, 173);
  }
  
  #color{
    color: #aaffaa;
   }

   /* Hero */

   .hero {
    width: 100vw;
    height: 75vh;
    background-image: url('https://images.unsplash.com/photo-1449870107643-256a999b3527?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
  }
  
  .title {
    background-color: rgba(65, 88, 67, 0.7);
    max-width: 600px;
    padding: 5%;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  
  .title p {
    font-size: 1.6em;
    color: #fff;
    letter-spacing: 5px;
  }

  .skills-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skills-gallery img {
    max-width: 250px;
    margin-bottom: 25px;
    opacity: 0.9;
    transition: opacity 0.2s linear, transform 0.2s ease-in-out;
  }
  
  .skills-gallery img:hover {
    opacity: 1;
    transform: scale(1.15);
    cursor: pointer;
  }

  .container {
    max-width: 980px;
    padding: 3% 5%;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.6;
    text-align: center;
  }

  footer {
    background-color: rgb(60, 172, 60);
    width: 100vw;
    padding: 1% 2%;
    font-size: 1.2em;
    color: #aaffaa;
    text-align: center;
  }